<html>
  <head>
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
  </head>
  <body>
    <div id="survey">
      <form action="/survey/process" method="POST">
            <label>Your Name: <input type="text" name = "name" placeholder="Name"></label>
            <label>Dojo Location: <select name="location" id="loc">
                <option value="chicago">Chicago</option>
                <option value="dallas">Dallas</option>
                <option value="losangeles">Los Angeles</option>
                <option value="seattle">Seattle</option>
                <option value="siliconvalley">Silicon Valley</option>
                <option value="washington">Washington</option>
            </select></label>
            <label>Favorite Language:<select name="language" id="lang">
                <option value="mean">Mean</option>
                <option value="lamp">Lamp</option>
                <option value="ruby">Ruby</option>
                <option value="python">Python</option>
                <option value="ios">iOS</option>
            </select></label>
            <label>Comment (optional):
           <textarea  name = "comment"></textarea></label>
           <label> <input type="submit" value = 'Submit' name = 'submit' ></label>
        </form>
    </div>
  </body>
</html>
